:root {
  --logo-font: "Montserrat", sans-serif;
  --h1-font: "Barlow", sans-serif;
  --h1-font-zise: 40px;
  --h1-font-weight: 700;
  --h2-font: "Dosis", sans-serif;
  --h2-font-zise: 30px;
  --h2-font-weight: 500;
  --h3-font: "Barlow", sans-serif;
  --h3-font-zise: 22px;
  --h3-font-weight: 400;
  --button-font: "Barlow", sans-serif;
  --button-font-zise: 12px;
  --button-font-weight: 500;
  --text-font: "Barlow", sans-serif;
  --text-font-zise: 14px;
  --text-font-weight: 500;
  --caption-font: "Barlow", sans-serif;
  --caption-font-zise: 12px;
  --caption-font-weight: 300;
  --letter-spacing: 1px;
  --blue: rgb(0, 46, 100);
  --yellow: rgb(255, 180, 0);
  --gray_light: rgb(249, 249, 249);
  --gray_dark: #f8f8f8;
  --red: #ea5455;
  --border-radius: 2px;
  --box-shadow: 0 2px 3px 0 #e0e0e0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
section {
  width: 100%;
  height: auto;
  padding: 50px 0;
}

.container {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 50px;
  border-radius: var(--border-radius);
}

.subtitle {
  font-family: var(--h2-font);
  color: var(--blue);
  font-weight: var(--h2-font-weight);
  font-size: var(--h2-font-zise);
  text-align: center;
}

.btn {
  height: 35px;
  line-height: 35px;
  display: inline;
  background-color: var(--yellow);
  font-family: var(--button-font);
  font-size: var(--button-font-zise);
  font-weight: var(--button-font-weight);
  color: var(--blue);
  border: none;
  border-radius: var(--border-radius);
  padding: 0 30px;
  letter-spacing: var(--letter-spacing);
}

/* =============== Header ============== */

header {
  width: 100%;
  height: 100vh;
  /*   background-color: var(--gray_light);
 */
  background-image: url(imagenes/notebook.jpg);
  background-size: auto;
  background-size: cover;
  background-position: center top;
}
/* =============== Nav ============== */

.nav-bar {
  background-color: var(--blue);
  width: 100%;
}
.nav-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 0;
}
.subtitle-logo {
  color: var(--gray_dark);
  font-family: var(--logo-font);
  font-weight: var(--h3-font-weight);

  text-align: center;
  padding: 2px;
}
.text-logo > span {
  color: var(--yellow);
}

.text-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--logo-font);
  font-weight: 500;
  font-size: 24px;
  color: var(--gray_light);
}
.text-logo i {
  font-size: 24px;
  bottom: 0;
  vertical-align: middle;
}

.link {
  font-family: var(--button-font);
  font-size: var(--button-font-zise);
  font-weight: var(--button-font-weight);
  color: var(--gray_light);
  text-decoration: none;
  margin: 0 15px;
  letter-spacing: 1px;
}
.link:hover {
  color: var(--yellow);
}

/* =============== About me ============== */

.about_me {
  background-color: var(--gray_dark);
}

.about_me-container {
  width: 70%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 3px 0 #f0f0f0;
  border: 1px px solid #f0f0f0;
  background: var(--blue);
  padding: 10px;
}

.foto {
  width: 50%;
  background-color: #ffb400;
  border-radius: var(--border-radius);
}

.texto-perfil {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  width: 50%;
  text-align: center;
}

.texto-perfil h3 {
  font-family: var(--h3-font);
  font-size: var(--h3-font-zise);
  font-weight: var(--h3-font-weight);
  color: var(--yellow);
}

.texto-perfil p {
  font-family: var(--text-font);
  color: var(--gray_light);
}

.btn-perfil {
  margin: 0 auto;
}

/* =============== Skills ============== */

.skills-container {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /*   background-color: var(--gray_dark);
 */
}
.skills-items {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.skill-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray_light);
  border-radius: var(--border-radius);
  margin-right: 100px;
  padding: 20px;
  box-shadow: var(--box-shadow);
}
.skill-item h3 {
  font-family: var(--h3-font);
  font-size: var(--h3-font-zise);
  font-weight: var(--h3-font-weight);
}

.skill-item:hover {
  animation: extend-box 0.2s ease-out forwards;
}
@keyframes extend-box {
  100% {
    background-color: #ffbf2b;
    margin-right: 70px;
  }
}

.skill-icon {
  font-size: 24px;
  margin-right: 20px;
}
.skill-icon-arrow {
  font-size: 24px;
}

.skill-resume-container {
  background-image: url(imagenes/notebook2.jpg);
  background-size: cover;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  width: 50%;
}
.skills-resume-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: rgba(249, 249, 249, 0.7);
  border-radius: var(--border-radius);
  padding: 10px;
  color: var(--blue);
}
.skills-resume-content h3 {
  font-family: var(--h3-font);
  font-weight: var(--h3-font-weight);
  font-size: var(--h3-font-zise);
  margin-bottom: 20px;
}
.skills-resume-content p {
  font-family: var(--text-font);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-zise);
  margin-bottom: 20px;
}

.logo-technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.logo-tech {
  width: 10%;
  height: 10%;
  margin: 5px;
  border-radius: var(--border-radius);
}
.logo-tech img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}
.btn-skills {
  margin: 0 auto;
}
/* =============== Projects ============== */

.projects {
  background-color: var(--gray_dark);
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projects-card {
  text-align: center;
  width: 30%;
  margin: 10px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.subtitle-project {
  font-family: var(--h3-font);
  font-weight: var(--h3-font-weight);
  font-size: var(--h3-font-zise);
  text-align: left;
  padding: 10px;
  color: var(--blue);
}

.projects-card .btn {
  background: none;
  border: 1px solid var(--yellow);
  color: var(--yellow);
}
.projects-card .btn:hover {
  background-color: var(--yellow);
  color: var(--blue);
}

.projects-card img {
  width: 100%;
  height: 250px;
  border-radius: 2px 2px 0 0;
}

/* =============== Footer ============== */

footer {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 50px;
  color: var(--gray_light);
  background-color: var(--blue);
}

.subscribe-container {
  padding: 20px;
}
.subscribe-container .subtitle {
  color: var(--gray_light);
}
.contact-me {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.contact-me input {
  height: 50px;
  border-radius: var(--border-radius);
  background-color: var(--gray_light);
  font-family: var(--button-font);
  font-size: var(--button-font-zise);
  font-weight: var(--button-font-weight);
  border: none;
  margin: 5px;
}
.contact-me .message-input {
  height: 150px;
}
.contact-me input::placeholder {
  text-align: center;
  padding-top: 0;
}
.contact-me .contact-submit {
  background-color: var(--yellow);
  width: 30%;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
}
.contact {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
.contact-item {
  text-align: center;
}
.logo-contact {
  font-size: 32px;
  background-color: var(--red);
  padding: 5px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.social-copy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.socialmedia {
  text-align: center;
}
.socialmedia a {
  color: var(--gray_light);
  font-size: 24px;
}
.copyright {
  text-align: center;
}
.subtitle-contact {
  font-family: var(--h3-font);
  font-weight: var(--h3-font-weight);
  font-size: var(--h3-font-zise);
  margin-bottom: 10px;
}
.text-contact,
.copyright {
  font-family: var(--text-font);
  font-size: var(--text-font-zise);
  font-weight: var(--text-font-weight);
}

.title-underline {
  width: 200px;
  margin: 5px auto;
  border: 1px solid var(--yellow);
  margin-bottom: 20px;
}

/* =============== Resposive ============== */

@media screen and (max-width: 1024px) {
  /*   General   */

  .container {
    width: 90%;
  }

  /*  Nav */

  .link {
    margin: 10px;
  }
  .btn {
    padding: 0 20px;
  }
  .projects-card {
    width: 45%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 95%;
  }
  .link {
    margin: 5px;
  }
  .nav-container {
    flex-direction: column;
  }

  .nav-bar .btn {
    display: none !important;
  }
  .navigation {
    margin-top: 20px;
  }
  .projects-card {
    width: 90%;
  }
}
