:root {
  --logo-font: "Montserrat", sans-serif;
  --h1-font: "Barlow", sans-serif;
  --h1-font-zise: 40px;
  --h1-font-weight: 700;
  --h2-font: "Dosis", sans-serif;
  --h2-font-zise: 36px;
  --h2-font-weight: 500;
  --h3-font: "Barlow", sans-serif;
  --h3-font-zise: 22px;
  --h3-font-weight: 400;
  --button-font: "Barolw", sans-serif;
  --button-font-zise: 14px;
  --button-font-weight: 500;
  --text-font: "Barlow", sans-serif;
  --text-font-zise: 16px;
  --text-font-weight: 500;
  --caption-font: "Barlow", sans-serif;
  --caption-font-zise: 12px;
  --caption-font-weight: 300;
  --blue: rgb(0, 46, 100);
  --yellow: #ffb400;
  --gray_light: #f9f9f9;
  --gray_dark: #f2f2f2;
  --red: #ea5455;
  --border-radius: 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  color: var(--gray_light);
}
.text-logo > span {
  color: var(--yellow);
}
section {
  width: 100%;
  height: 768px;
}

.container {
  width: 80%;
  margin: auto;
  border-radius: var(--border-radius);
  height: 80%;
}

.subtitle {
  font-family: var(--h2-font);
  color: var(--blue);
  font-weight: var(--h2-font-weight);
  font-size: var(--h2-font-zise);
  text-align: center;
  padding: 20px;
}

/* =============== Header ============== */

header {
  width: 100%;
  height: 768px;
  /*   background-color: var(--gray_light);
 */
  background-image: url(/imagenes/notebook.jpg);
  background-size: cover;
}
/* =============== Nav ============== */
.nav-bar {
  background-color: var(--blue);
}
.nav-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: none;
}

.btn {
  background-color: var(--yellow);
  font-family: var(--button-font);
  font-size: var(--button-font-zise);
  font-weight: var(--button-font-weight);
  color: var(--blue);
  border: none;
  width: 100px;
  height: 40px;
  border-radius: var(--border-radius);
}

.link {
  font-family: var(--button-font);
  font-size: var(--button-font-zise);
  font-weight: var(--button-font-weight);
  color: var(--gray_light);
  text-decoration: none;
  margin: 0 20px;
}

/* =============== About me ============== */

.about_me {
  background-color: var(--gray_dark);
}

.about_me-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  background: rgba(0, 46, 100, 0.8);
}

.foto {
  width: 50%;
  background-color: #ffb400;
  border-radius: var(--border-radius);
}

.texto-perfil {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  width: 50%;
  text-align: center;
}

.texto-perfil h3 {
  font-family: var(--h3-font);
  font-size: var(--h3-font-zise);
  font-weight: var(--h3-font-weight);
  color: var(--yellow);
  margin-bottom: 20px;
}

.texto-perfil p {
  font-family: var(--text-font);
  color: var(--gray_light);
}

.btn-perfil {
  margin: 0 auto;
}

/* =============== Skills ============== */

.skills-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--gray_dark);
}
.skills-items {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.skill-item {
  display: flex;
  align-items: center;
  font-family: var(--h3-font);
  font-size: var(--h3-font-zise);
  font-weight: var(--h3-font-weight);
  background-color: var(--yellow);
  border-radius: 5px;
  margin-right: 100px;
  padding: 30px;
  box-shadow: 4px 6px 12px -3px rgba(0, 0, 0, 0.42);
}

.skill-item:hover {
  animation: extend-box 0.2s ease-out forwards;
}
@keyframes extend-box {
  100% {
    background-color: #ffbf2b;
    margin-right: 70px;
  }
}

.skill-icon {
  font-size: 32px;
  margin-right: 30px;
}
.skill-icon-arrow {
  font-size: 32px;
  right: 10px;
}

.skills-resume {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  background-color: var(--gray_light);
  border-radius: 5px;
  padding: 10px;
  color: var(--blue);
  box-shadow: 4px 6px 12px -3px rgba(0, 0, 0, 0.42);
}
.skills-resume h3 {
  font-family: var(--h3-font);
  font-weight: var(--h3-font-weight);
  font-size: var(--h3-font-zise);
  margin-bottom: 20px;
}
.skills-resume p {
  font-family: var(--text-font);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-zise);
  margin-bottom: 20px;
}

.logo-technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.logo-tech {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 5px;
  margin: 5px;
}
.logo-tech img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.btn-skills {
  margin: 0 auto;
}
/* =============== Projects ============== */

.projects {
  background-color: var(--gray_dark);
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}
.projects-card {
  position: relative;
  width: 30%;
  height: 45%;
  box-shadow: 4px 6px 12px -3px rgba(0, 0, 0, 0.42);
  border-radius: 5px;
  margin: 5px;
}
.projects-card .btn {
  background: none;
  width: 30%;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  left: 35%;
  border: 1px solid var(--yellow);
  color: var(--yellow);
}
.projects-card .btn:hover {
  background-color: var(--yellow);
  color: var(--blue);
}

.projects-card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* =============== Footer ============== */

footer {
  background-image: url(/imagenes/cubos.jpg);
  background-size: cover;
}
.footer-content {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  color: var(--gray_light);
  background-color: rgba(0, 46, 100, 0.95);
}

.subscribe-container {
  border: 1px solid #fff;
  margin: 0 30px;
  border-radius: 5px;
  position: relative;
  height: 40%;
}
.contact {
  display: flex;
  justify-content: space-around;
  height: 30%;
}
.contact-item {
  text-align: center;
}
.logo-contact {
  font-size: 32px;
  background-color: var(--red);
  padding: 5px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.socialmedia {
  text-align: center;
}
.socialmedia a {
  color: var(--gray_light);
  font-size: 24px;
}
.copyright {
  text-align: center;
}
.subtitle-contact {
  font-family: var(--h3-font);
  font-weight: var(--h3-font-weight);
  font-size: var(--h3-font-zise);
  margin-bottom: 10px;
}
.text-contact,
.copyright {
  font-family: var(--text-font);
  font-size: var(--text-font-zise);
  font-weight: var(--text-font-weight);
}
